.container{
    margin-bottom: 100px;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: royalblue;
}
.categories img{
    width: 100px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card{
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px lightgray;
}
#subscribe{
    padding: 75px 0;
}
#subscribe input{
    margin-bottom: 5px;
}
footer{
    text-align: center;
}